<a href="https://colab.research.google.com/github/sundarbee/PythonWorkout/blob/main/Exercises_US_Crime_Rates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# United States - Crime Rates - 1960 - 2014

### Introduction:
### Step 1. Import the necessary libraries

In [7]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/Laxminarayen/Inceptez-batch-25-Classwork/refs/heads/main/Python-Class11-Pandas-Intermediate/US_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

In [42]:
crime = pd.read_csv('/content/sample_data/US_Crime_Rates_1960_2014.csv')
crime.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 4. What is the type of the columns?

In [31]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [43]:
crime['Year'] = pd.to_datetime(crime['Year'], format='%Y')
dt_df = crime['Year'].dt.year
print(dt_df)

0     1960
1     1961
2     1962
3     1963
4     1964
5     1965
6     1966
7     1967
8     1968
9     1969
10    1970
11    1971
12    1972
13    1973
14    1974
15    1975
16    1976
17    1977
18    1978
19    1979
20    1980
21    1981
22    1982
23    1983
24    1984
25    1985
26    1986
27    1987
28    1988
29    1989
30    1990
31    1991
32    1992
33    1993
34    1994
35    1995
36    1996
37    1997
38    1998
39    1999
40    2000
41    2001
42    2002
43    2003
44    2004
45    2005
46    2006
47    2007
48    2008
49    2009
50    2010
51    2011
52    2012
53    2013
54    2014
Name: Year, dtype: int32

### Step 6. Set the Year column as the index of the dataframe

In [45]:
set_indx = crime.set_index('Year',inplace=False)
print(set_indx.head())

            Population    Total  Violent  Property  Murder  Forcible_Rape  \
Year
1960-01-01   179323175  3384200   288460   3095700    9110          17190
1961-01-01   182992000  3488000   289390   3198600    8740          17220
1962-01-01   185771000  3752200   301510   3450700    8530          17550
1963-01-01   188483000  4109500   316970   3792500    8640          17650
1964-01-01   191141000  4564600   364220   4200400    9360          21420

            Robbery  Aggravated_assault  Burglary  Larceny_Theft  \
Year
1960-01-01   107840              154320    912100        1855400
1961-01-01   106670              156760    949600        1913000
1962-01-01   110860              164570    994300        2089600
1963-01-01   116470              174210   1086400        2297800
1964-01-01   130390              203050   1213200        2514400

            Vehicle_Theft
Year
1960-01-01         328200
1961-01-01         336000
1962-01-01         366800
1963-01-01         408300
1964-01-01         472800

### Step 7. Delete the Total column

In [48]:
del_tot_df = crime.drop(columns='Total')
print(del_tot_df.head())

        Year  Population  Violent  Property  Murder  Forcible_Rape  Robbery  \
0 1960-01-01   179323175   288460   3095700    9110          17190   107840
1 1961-01-01   182992000   289390   3198600    8740          17220   106670
2 1962-01-01   185771000   301510   3450700    8530          17550   110860
3 1963-01-01   188483000   316970   3792500    8640          17650   116470
4 1964-01-01   191141000   364220   4200400    9360          21420   130390

   Aggravated_assault  Burglary  Larceny_Theft  Vehicle_Theft
0              154320    912100        1855400         328200
1              156760    949600        1913000         336000
2              164570    994300        2089600         366800
3              174210   1086400        2297800         408300
4              203050   1213200        2514400         472800

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [ ]:
crime['Year'] = pd.to_datetime(crime['Year'])
print(crime['Year'])
crime['Decade'] = (crime['Year'].dt.year//10)*10
gby = crime.groupby('Decade')['Total'].sum()
print(crime.sort_values(by='Decade',ascending=False).head())

### Step 9. What is the most dangerous decade to live in the US?

In [83]:
decade_summary = crime.groupby('Decade')[['Total', 'Violent', 'Property']].sum()
print(decade_summary)

Empty DataFrame
Columns: [Total, Violent, Property]
Index: []