<a href="https://colab.research.google.com/github/sundarbee/PythonWorkout/blob/main/Real_Life_Pandas_Exercise_OnlineRetail.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üõçÔ∏è Online Retail Dataset
Dataset Source: Check Whatsapp Group

This notebook contains real-world pandas exercises using a retail transaction dataset. Each section has:
- A question
- A code cell for you to write your answer
- A sample output below the code block for reference (commented)

üìÅ **Before starting:** Make sure you have downloaded the `OnlineRetail.xlsx` file and placed it in the same folder as this notebook.

### 1. Load the dataset and display the first 5 rows.
üìå Use `pd.read_excel()` and parse dates. #Try parse_dates arg from pd.read_excel() function

In [1]:
import pandas as pd
import numpy as np

In [3]:
df_parse = pd.read_excel('/content/sample_data/Online Retail.xlsx')
df_parse.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

### 2. Create a new column `TotalPrice` = `Quantity` √ó `UnitPrice` using `.

---

apply()`.

In [11]:
df_parse['TotalPrice'] = df_parse.apply(lambda row : row['Quantity'] * row['UnitPrice'], axis=1)
print(df_parse[['Quantity','UnitPrice','TotalPrice']].head())

   Quantity  UnitPrice  TotalPrice
0         6       2.55       15.30
1         6       3.39       20.34
2         8       2.75       22.00
3         6       3.39       20.34
4         6       3.39       20.34

### 3. Filter all transactions where `TotalPrice` is above ¬£1000.

In [16]:
new_df = df_parse[df_parse['TotalPrice']>1000]
new_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
870,536477,21137,BLACK RECORD COVER FRAME,480,2010-12-01 12:27:00,3.39,16210.0,United Kingdom,1627.2
2364,536584,84029E,RED WOOLLY HOTTIE WHITE HEART.,384,2010-12-01 16:22:00,2.95,13777.0,United Kingdom,1132.8
4505,536785,22423,REGENCY CAKESTAND 3 TIER,144,2010-12-02 15:22:00,10.95,15061.0,United Kingdom,1576.8
4850,536809,84950,ASSORTED COLOUR T-LIGHT HOLDER,1824,2010-12-02 16:48:00,0.55,15299.0,United Kingdom,1003.2
4946,536830,21915,RED HARMONICA IN BOX,1400,2010-12-02 17:38:00,1.06,16754.0,United Kingdom,1484.0

### 4. Sort the dataset by `TotalPrice` in descending order.

In [19]:
sort_df = df_parse.sort_values(by='TotalPrice')
print(sort_df[['InvoiceNo','TotalPrice']].head())

       InvoiceNo  TotalPrice
540422   C581484  -168469.60
61624    C541433   -77183.60
222681   C556445   -38970.00
524602   C580605   -17836.46
43702    C540117   -16888.02

### 5. Group the data by `Country` and compute total `Quantity` and `TotalPrice`.

In [29]:
gby_df = df_parse.groupby('Country')[['Quantity','TotalPrice']].sum()
print(gby_df.head())

           Quantity  TotalPrice
Country
Australia     83653   137077.27
Austria        4827    10154.32
Bahrain         260      548.40
Belgium       23152    40910.96
Brazil          356     1143.60

### 6. Find the top 5 customers by total spend.

In [34]:
df_top5 = df_parse.groupby('CustomerID')['TotalPrice'].sum()

print(df_top5.sort_values(ascending=False).head(5))

CustomerID
14646.0    279489.02
18102.0    256438.49
17450.0    187482.17
14911.0    132572.62
12415.0    123725.45
Name: TotalPrice, dtype: float64

### 7. Extract the month from `InvoiceDate` and count transactions per month.

In [44]:
df_parse['extract_month'] = df_parse['InvoiceDate'].dt.month

print(df_parse[['InvoiceDate','extract_month']].groupby('extract_month').count())

               InvoiceDate
extract_month
1                    35147
2                    27707
3                    36748
4                    29916
5                    37030
6                    36874
7                    39518
8                    35284
9                    50226
10                   60742
11                   84711
12                   68006

### 8. Filter transactions from the UK with positive `Quantity`.

In [49]:
trans_uk_df = df_parse[(df_parse['Country']=='United Kingdom') & (df_parse['TotalPrice']>0)]
print(trans_uk_df.head(5))

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  \
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34

   extract_month
0             12
1             12
2             12
3             12
4             12

### 9. Create a column `ValueLabel` as 'High' if `TotalPrice` > 500 else 'Low'.

In [58]:
df_parse['ValueLabel'] =df_parse['TotalPrice'].apply(lambda row : 'High' if row>500 else 'Low')
print(df_parse[['TotalPrice','ValueLabel']].head(10000))

      TotalPrice ValueLabel
0          15.30        Low
1          20.34        Low
2          22.00        Low
3          20.34        Low
4          20.34        Low
...          ...        ...
9995       19.90        Low
9996        9.90        Low
9997        9.90        Low
9998        5.10        Low
9999        8.50        Low

[10000 rows x 2 columns]

### 10. Count number of `High` value transactions by country.

In [88]:
high_value_trans = df_parse[df_parse['ValueLabel']=='High']
# print(high_value_trans)
trans_val_by_country = high_value_trans.groupby('Country').size().sort_values(ascending=False)
print(trans_val_by_country.head())

Country
United Kingdom    997
EIRE               45
Netherlands        35
Australia          33
Germany             9
dtype: int64